.leaderboard {
    margin-top: 2rem;
}

.leaderboard-title {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--sub-color);
}

.leaderboard-table th {
    font-weight: bold;
    color: var(--main-color);
}

.leaderboard-table tr:nth-child(even) {
    background-color: var(--sub-alt-color);
}
