.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: transparent;
    color: var(--text-color);
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content .summary-stats {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content .stat {
    margin: 0 1rem;
}

.modal-content .stat-label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.modal-content .stat-value {
    font-size: 2rem;
    font-weight: bold;
}

.modal-content .replay-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content .replay-button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}